# Build directories
build/
build-*/
build_dev/
_packages/

# Deployment outputs
dist/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Visual Studio
*.vcxproj*
*.sln
*.user
*.pdb

# Qt / Autogen
*Autogen*/
*_autogen/
